<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>New Note</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <h1>Menu</h1>
  <a href="/">Home Page</a>
  <a href="/newnote">New Note</a>
  <a href="/discuss">Discuss</a>

  <div>
      {% if message.length>0 %}
        <div>{{message}}</div>
      {% endif %}
    </div>
  <div>
    <form action="/newnote" method="post">
      <input type="text" name="memberName" placeholder="memberName">
      <input type="text" name="project" id="" placeholder="project">
      <input type="text" name="workYesterday" id="" placeholder="workYesterday">
      <input type="text" name="workToday" id="" placeholder="workToday">
      <input type="text" name="implement" id="" placeholder="Any Implementation?">
      <input type="submit" value="Save Note">
    </form>
  </div>
</body>
</html>
